@charset "utf-8";

// color
$colorBase: #555555;
$colorSub: #dedede;
$colorLink: #555555;
$colorLinkHover: lighten($colorLink, 20%);

// column width
$maxWidth: 1020px;

// font-family
$fontFamily : 'Montserrat', 'Open Sans', 'YuGothic', '游ゴシック', "メイリオ", "ＭＳ Ｐゴシック", sans-serif;