@charset "utf-8";

%baseWidth {
  max-width: $maxWidth;
  margin: 0 auto;
}

// Font Size
@mixin font-size($size) {
  font-size: ($size / 16px) * 1rem;
}
%contentFamily {
  font-family: $fontFamily;
}

// Clearfix
%clearfix{
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    font-size: 0;
  }
}

//***********************
// Media Queries
// 1200px : 75.000em
//  992px : 62.000em
//  768px : 48.000em
//  480px : 30.000em
//  320px : 20.000em
//***********************

@mixin mq($point) {
  $mq-large : '(max-width: 75.000em)';
  $mq-max-medium: '(max-width: 62.000em)';
  $mq-min-medium: '(min-width: 62.000em)';
  $mq-max-small: '(max-width: 48.000em)';
  $mq-min-small: '(min-width: 48.000em)';
  $mq-max-extrasmall: '(max-width: 30.000em)';
  $mq-min-extrasmall: '(min-width: 30.000em)';
  $mq-max-iphoneretina: '(max-width: 29.938em)';
  $mq-min-iphoneretina: '(min-width: 29.938em)';

  @if $point == default {
    @media #{$mq-large} { @content; }
  }
  @else if $point == max-medium {
    @media #{$mq-max-medium} { @content; }
  }
  @else if $point == min-medium {
    @media #{$mq-min-medium} { @content; }
  }
  @else if $point == max-small {
    @media #{$mq-max-small} { @content; }
  }
  @else if $point == min-small {
    @media #{$mq-min-small} { @content; }
  }
  @else if $point == max-extrasmall {
    @media #{$mq-max-extrasmall} { @content; }
  }
  @else if $point == min-extrasmall {
    @media #{$mq-min-extrasmall} { @content; }
  }
  @else if $point == max-iphoneretina {
    @media #{$mq-max-iphoneretina} { @content; }
  }
  @else if $point == min-iphoneretina {
    @media #{$mq-min-iphoneretina} { @content; }
  }
}

