footer
	div.footer(role="contentinfo")
		div.container
			div.row
				div.col-md-6
					| <div class="fb-page" data-href="https://www.facebook.com/syrupforpets/" data-tabs="timeline" data-width="500" data-height="215" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/syrupforpets/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/syrupforpets/">株式会社シロップ</a></blockquote></div>
				div.col-md-6
					a(href="#", target="_blank")
						img.img-retina(src="/share/img/common/footer_bnr_01.png" alt="engineer blog")
			div.row.footer-link-wrap
				div.col-md-offset-8.col-md-2
					ul.footer-link
						li.footer-link-item
							a(href="#") プライバシーポリシー
				div.col-md-2
					small.copyright &copy; SYRUP, Inc.