header
	div.header.cbp-af-header(role="banner")
		div.container.cbp-af-inner(role="navigation")
			div.row.header-nav
				div.col-md-3.header-brand
					a(href="/")
						img.header-brand-ci(src="/share/img/common/header_ci_01.png" alt="SYRUP")
				div.col-md-9.header-menu
					ul.header-menu-list#menu
						li.header-menu-item
							a(href="#about") ABOUT
						li.header-menu-item
							a(href="#members") MEMBERS
						li.header-menu-item
							a(href="#service") SERVICE
						li.header-menu-item
							a(href="#company") COMPANY
						li.header-menu-item
							a(href="#contact") CONTACT
						li.header-menu-item
							a(href="#news") NEWS