header.header.cbp-af-header
	div.container.cbp-af-inner
		div.row.header-nav(role="banner")
			div.col-md-3.header-brand
				a(href="/")
					img.header-brand-ci(src="/share/img/common/header_ci_01.png" alt="SYRUP")
			div.col-md-9.header-menu#menu(role="navigation")
				ul.header-menu-list
					li.header-menu-item
						a(href="#about") ABOUT
					li.header-menu-item
						a(href="#members") MEMBERS
					li.header-menu-item
						a(href="#service") SERVICE
					li.header-menu-item
						a(href="#company") COMPANY
					li.header-menu-item
						a(href="#contact") CONTACT
					li.header-menu-item
						a(href="#news") NEWS