link(rel="icon", href="/img/common/favicon.ico", type="image/vnd.microsoft.icon")
link(rel="apple-touch-icon", href="/img/common/apple-touch-icon.png", sizes="180x180")
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans")
link(rel="stylesheet", href="/font/genericons/genericons.css")
link(rel="stylesheet", href="/css/style.css")