script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
script(src='/share/js/bootstrap.min.js')
script(src='/share/js/modernizr.custom.js')
script(src="/share/js/jquery.slicknav.min.js")
script(src='/share/js/cbpAnimatedHeader.js')
script(src='/share/js/classie.js')
script(src="/share/js/jquery.smoothScroll.js")
script.
	$(function() {
		$('#menu').slicknav({
			'closeOnClick': true
		});
	});
	$(function() {
		$('.nav-item a').SmoothScroll({
			duration: 1000,
			easing  : 'easeOutQuint'
		});
	});
	$(function() {
		var topBtn = $('#page-top');
		topBtn.hide();
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
				topBtn.fadeIn();
			} else {
				topBtn.fadeOut();
			}
		});
		topBtn.click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 500);
			return false;
		});
	});