doctype html
html(lang="ja")
	head
		block meta
			include ../_include/meta
		block title
			title 株式会社シロップ
			meta(name="description", content="")
			meta(property="og:title", content="株式会社 シロップ")
			meta(property="og:url", content="http://syrup.jp.net")
			meta(property="og:image", content="")
			meta(property="og:description", content="")
		block links
			include ../_include/link
		block script_head
			include ../_include/script_head
	body#top
		block fb
			include ../_include/fb
		block header
			include ../_include/header
		block main
		block social_link
			include ../_include/social_link
		block page_top
			include ../_include/pagetop
		block footer
			include ../_include/footer
		block script_body
			include ../_include/script_body