@charset "utf-8";

/* ======================================= */
/* home
/* ======================================= */

.home {
	.navbar-default {
		@include mq(min-medium) {
			border: none;
			background-color: transparent;
		}
	}
	.main {
		.container {
			padding-top: 100px;
			margin-bottom: 80px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.content-headings {
		text-align: center;
		margin: 0;
		padding-bottom: 40px;
	}
	.content-headings-left {
	}
	.content-headings-center {
		margin-bottom: 60px;
		&:before {
			margin-right: 27px;
			content: url(/share/img/common/share_headings_bg_01.png);
		}
		&:after {
			margin-left: 27px;
			content: url(/share/img/common/share_headings_bg_02.png);
		}
	}
	.content-headings-right {
	}
}


// about
#about {
	.content-headings {
		padding-bottom: 50px;
		background: url(/share/img/index/about_headings_bg_01.png) no-repeat bottom center;
	}
	.contents-lead {
		margin: 0 0 40px 0;
		padding: 0;
		@include font-size(36px);
		em {
			font-style: normal;
		}
	}
}

// message
#message {
	.content-headings {
		background: url(/share/img/index/message_headings_bg_01.png) no-repeat bottom center;
	}
}

// members
#members {
	.content-headings {
		background: url(/share/img/index/members_headings_bg_01.png) no-repeat bottom center;
	}
}

// service
#service {
	.content-headings {
		background: url(/share/img/index/service_headings_bg_01.png) no-repeat bottom center;
	}
}
// company
#company {
	.content-headings {
		padding-bottom: 50px;
		background: url(/share/img/index/company_headings_bg_01.png) no-repeat bottom center;
	}
	.map-img {
		&:hidden {
			display: none;
		}
	}
	.map-item {
		position: relative;
		margin-top: 26px;
		padding-top: 50%;
		@include mq(max-medium) {
			margin-bottom: 80px;
		}
		#map-canvas {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			min-height: 520px;
			@include mq(max-medium) {
				min-height: 250px;
			}
		}
		.map-link {
			@include mq(max-medium) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				min-height: 250px;
				background-color: rgba(0, 0, 0, .6);
			}
			ul {
				position: absolute;
				right: 15px;
				bottom: -15px;
				z-index: 20;
				@include mq(max-medium) {
					position: absolute;
					width: 100%;
					bottom: 15px;
					right: auto;
					text-align: center;
				}
			}
		}
	}
}

// contact
#contact {
	.content-headings {
		padding-bottom: 50px;
		background: url(/share/img/index/contact_headings_bg_01.png) no-repeat bottom center;
	}
	.contact-item-wrap {
		width: 100%;
		background-color: #ffffff;
		padding: 30px;
		box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
		margin-bottom: 30px;
	}
	.contact-item {
		padding-bottom: 3px;
		background: url(/share/img/index/contact_form_bg_01.png) repeat-x bottom left;
	}
	th {
		width: 20%;
		padding: 13px 10px;
		@include font-size(14px);
		label {
			font-weight: normal;
		}
	}
	td {
		input {
			width: 100%;
			border: none;
		}
		textarea {
			width: 100%;
			height: 200px;
			border: none;
			margin-bottom: 13px;
		}
	}
	.contact-submit {
		padding: 8px 0;
		min-width: 215px;
		border: none;
		color: #ffffff;
		text-align: center;
		background: url(/share/img/index/contact_form_bg_02.png) repeat top left;
		&:hover {
			opacity: .8;
		}
	}
}

// news
#news {
	.content-headings {
		background: url(/share/img/index/news_headings_bg_01.png) no-repeat bottom center;
	}
	.news-articles {
		@extend %clearfix;
		margin-bottom: 30px;
		@include mq(min-medium) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.news-title {
		@include mq(min-medium) {
			margin-top: 18px;
		}
	}
}