@charset "utf-8";

/* ======================================= */
/* common
/* ======================================= */

@font-face {
	font-family: 'intro';
	src: url('/share/font/Intro Inline.otf');
}

body {
	background-color: #f8f9f9;
}

.main {
	padding-top: 100px;
	margin-bottom: 40px;
}
.container {
	@extend %baseWidth;
	@include font-size(16px);
	@include mq(max-medium) {
		width: 100%;
	}
}
.content-headings {
	margin: 0;
	font-family: 'intro';
	@include font-size(48px);
}

.img-retina {
	width: 100%;
}

// reader
.reader {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

// pagetop
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
	a {
		background: #666;
		text-decoration: none;
		color: #fff;
		width: 100px;
		padding: 30px 0;
		text-align: center;
		display: block;
		border-radius: 5px;
		&:hover{
			text-decoration: none;
			background: #999;
		}
	}
}