@charset "utf-8";

/* ======================================= */
/* header
/* ======================================= */

.navbar-brand {
	height: auto;
}
.navbar-brand-ci {
	width: 50%;
	max-width: 220px;
	height: auto;
}
.navbar-fixed-top .navbar-collapse {
	max-height: none;
}