@charset "utf-8";

/* ======================================= */
/* common
/* ======================================= */

body {
	background-color: #f8f9f9;
	font-family: $fontFamily;
}

.main {
	padding-top: 130px;
	@include mq(max-medium) {
		padding-top: 55px;
	}
	margin-bottom: 40px;
}
.container {
	@extend %baseWidth;
	@include font-size(15px);
	@include mq(max-medium) {
		width: 100%;
	}
}
.content-headings {
	margin: 50px 0 40px;
	@include font-size(46px);
	font-weight: bold;
}

// image
.img-retina {
	width: 100%;
	height: auto;
}
.img-shodow {
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}


// reader
.reader {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

// button
.button-primary {
	padding: 8px 0;
	min-width: 215px;
	border: none;
	border-radius: 0!important;
	color: #ffffff;
	text-align: center;
	background: url(../img/index/contact_form_bg_02.png) repeat top left;
	&:hover {
		color: #ffffff;
		opacity: .8;
		text-decoration: none;
	}
}


// social-link
.social-link {
	margin: 80px 0 40px;
	padding: 0;
	list-style-type: none;
	text-align: center;
	.social-link-item {
		display: inline-block;
		vertical-align: baseline;
		margin: 0 7px;
		height: 20px;
		iframe {
			margin: 0!important;
		}
		&.facebook {
			margin-left: 0;
			.fb_iframe_widget {
				&> span {
					vertical-align: baseline!important;
				}
			}
		}
		&.twitter{
			margin-right: 0;
		}
	}
}

// pagetop
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	line-height: 1px;
	z-index: 10000;
	@include font-size(32px);
	a {
		background: #666;
		text-decoration: none;
		color: #fff;
		width: 40px;
		height: 40px;
		padding: 15px 5px;
		text-align: center;
		display: block;
		border-radius: 40px;
		&:hover{
			text-decoration: none;
			background: #999;
		}
	}
}

// news
.news-year {
	margin-left: 16px;
	@include font-size(26px);
}
.news-articles-item {
	margin-top: 50px;
	.news-date {
		display: block;
	}
	.news-title {
		display: block;
		margin-bottom: 20px;
		@include font-size(18px);
		font-weight: bold;
	}
	.news-description {
		display: block;
	}
	a {
		color: #000;
		&:hover {
			.news-date {
				text-decoration: underline;
			}
			.news-title {
				text-decoration: underline;
			}
			.news-description {
				text-decoration: underline;
			}
			.news-image-item {
				opacity: .8;
			}
		}
	}
}
.row {
	&:first-child {
		.news-articles-item {
			margin-top: 0;
		}
	}
}

.news-image-item {
	width: 100%;
}
.news-archive {
	margin-top: 40px;
	padding: 0;
	list-style-type: none;
	li {
		margin-top: 30px;
		width: 25%;
		float: left;
	    position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
		@include mq(max-medium) {
			width: auto;
			float: none;
			margin-top: 15px;
		}
		a {
			display: block;
			padding: 12px;
			color: #ffffff;
			background-color: #000000;
			text-align: center;
			&:hover {
				text-decoration: none;
				opacity: .8;
			}
		}
	}
}
.news-articles {
	.news-title {
		margin: 0;
		@include font-size(30px);
		font-weight: bold;
	}
	.news-date {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 40px;
	}
}
.wp-post-image {
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
	@include mq(max-medium) {
		width: 100%;
		height: auto;
	}
}