@charset "utf-8";

/* ======================================= */
/* header
/* ======================================= */

.header {
	position: fixed;
	width: 100%;
  @include mq(min-medium) {
    padding-top: 29px;
  }
	background-color: rgba(255, 255, 255, .6);
	z-index: 10000;
}
.header-nav {
	position: relative;
}
.header-brand {
	height: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	@include mq(max-medium) {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.header-brand-ci {
  @include mq(min-medium) {
    width: 221px;
    height: 71px;
  }
}
.header-menu-list {
	margin-top: 30px;
	margin-bottom: 0;
	padding-left: 0;
	@include mq(min-medium) {
		display: table;
		width: 100%;
	}
	.header-menu-item {
		list-style-type: none;
		@include font-size(18px);
    font-weight: bold;
		@include mq(min-medium) {
			display: table-cell;
		}
		a {
			color: #333333;
			display: inline-block;
			padding: 15px 10px 28px;
      font-weight: bold;
			&:hover {
				border-bottom: 3px solid #000;
				text-decoration: none;
			}
		}
	}
}

// cbp animated header
.cbp-af-header {
	overflow: hidden;
	transition: height 0.5s;
	min-height: 58px;
	.header-brand {
		transition: all 0.5s;
	}
  .header-brand-ci {
    transition: all 0.5s;
  }
	.header-menu-list {
		transition: all 0.5s;
	}
	.header-menu-item {
		transition: all 0.5s;
	}
	&.cbp-af-header-shrink {
    &.header {
      padding-top: 0;
    }
		.header-brand {
			padding-top: 0;
			padding-bottom: 0;
		}
		.header-brand-ci {
			display: none;
      @include mq(max-medium) {
        display: block;
      }
		}
		.header-menu-list {
			margin-top: 5px!important;
		}
		.header-menu-item {
			a {
				padding-bottom: 10px;
			}
		}
	}
}

/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */

.slicknav_nav {
  clear: both;
  overflow: hidden;
  ul {
    overflow: hidden;
    margin-bottom: 10px;
  }
}
.slicknav_menu {
  display:none;
  box-sizing: border-box;
  padding: 10px;
  * {
    box-sizing: border-box;
  }
}
.slicknav_btn {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  width: 28px;
  height: 30px;
  transition: all .4s;
  box-sizing: border-box;
  float: right;
  .slicknav_icon-bar {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 100%;
    height: 3px;
    transition: all .4s;
    background-color: #000;
    box-sizing: border-box;
    border-radius: 3px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 10px;
    }
    &:nth-of-type(3) {
      top: 20px;
    }
  }
  &.slicknav_open {
    .slicknav_icon-bar {
      &:nth-of-type(1) {
        transform: translateY(10px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-10px) rotate(45deg);
      }
    }
  }
}

@include mq(max-medium) {
  .js #menu {
    display: none;
  }
  .js .slicknav_menu {
    position: fixed;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 10000;
  }
  .header {
    width: 50%;
    min-height: 49px;
    background-color: rgba(255, 255, 255, 0);
  }
  .header-menu {
    display: none;
  }
  .header-brand-ci {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    width: 100px;
  }
  .header-menu-list {
    .header-menu-item {
      margin-top: 2px;
      line-height: 1;
      a {
        display: block;
        padding: 14px 10px;
        border-radius: 4px;
        &:hover {
          background-color: #dcdcdc;
          border-bottom: none;
        }
      }
    }
  }
}

