@charset "utf-8";

/* ======================================= */
/* common
/* ======================================= */

@font-face {
	font-family: 'intro';
	src: url('/share/font/Intro Inline.otf');
}

body {
	background-color: #f8f9f9;
}

.main {
	padding-top: 130px;
	@include mq(max-medium) {
		padding-top: 55px;
	}
	margin-bottom: 40px;
}
.container {
	@extend %baseWidth;
	@include font-size(16px);
	@include mq(max-medium) {
		width: 100%;
	}
}
.content-headings {
	margin: 50px 0 40px;
	font-family: 'intro';
	@include font-size(48px);
}

.img-retina {
	width: 100%;
}

// reader
.reader {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

// icon



// social-link
.social-link {
	margin: 80px 0 40px;
	padding: 0;
	list-style-type: none;
	text-align: center;
	.social-link-item {
		display: inline-block;
		vertical-align: baseline;
		margin: 0 7px;
		height: 20px;
		iframe {
			margin: 0!important;
		}
		&.facebook {
			margin-left: 0;
			.fb_iframe_widget {
				&> span {
					vertical-align: baseline!important;
				}
			}
		}
		&.twitter{
			margin-right: 0;
		}
	}
}

// pagetop
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
	a {
		background: #666;
		text-decoration: none;
		color: #fff;
		width: 100px;
		padding: 30px 0;
		text-align: center;
		display: block;
		border-radius: 5px;
		&:hover{
			text-decoration: none;
			background: #999;
		}
	}
}

// news
.news-year {
	margin-left: 16px;
	@include font-size(28px);
}
.news-articles {
	margin-top: 50px;
	&:first-child {
		margin-top: 0;
	}
	.news-date {
		display: block;
	}
	.news-title {
		display: block;
	}
	.news-description {
		display: block;
	}
	a {
		&:hover {
			.news-date {
				text-decoration: underline;
			}
			.news-title {
				text-decoration: underline;
			}
			.news-description {
				text-decoration: underline;
			}
			.news-image-item {
				opacity: .8;
			}
		}
	}
}
.news-image-item {
	width: 100%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}
.news-archive {
	margin-top: 40px;
	.news-archive-item {
		margin-top: 30px;
		@include mq(max-medium) {
			margin-top: 15px;
		}
		a {
			display: block;
			padding: 12px;
			color: #ffffff;
			background-color: #000000;
			text-align: center;
			&:hover {
				text-decoration: none;
				opacity: .8;
			}
		}
	}
}